{% include 'header.html' %}

 <body>	


     <!-- Page Header -->	
    <!-- Set your background image for this header on the line below. -->	
    <header class="intro-header" style="background-image: url('')">	
        <div class="container">	
            <div class="row">	
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">	
                    <div class="post-heading">	
                        <h1>Cover Letter Generator</h1>	
                        <h3 class="subheading">Writing a Cover Letter for each job application is no longer a hassle with this Cover Letter Generator</h3>	
                        <span class="meta">Posted by <a href="/">Quangineer</a> on June 28, 2019</span>	
                    </div>	
                </div>	
            </div>	
        </div>	
    </header>	

     <!-- Post Content -->	
    <article>	
        <div class="container">	
            <div class="row">	
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">	
                    <h3 class="section-heading">The need of a Cover Letter Generator</h3>	
                    <p>For most of the time we apply for an online job we are required to send in a Cover Letter. With the huge amount of applications we send out each day comes with unavoiable and painful mistakes in our applications, whether it is Date, Company Name or simple typos.</p>	
                    <p>The Cover Letter Generator solves all these problems. It is made to produce an erorr free cover letter while being flexbile enough so that you can modify the content of the file.</p>	
                    <p>Here is the <a href="https://github.com/quangineer/AutoGenCoverLetter">Github Link</a></p>	

                    <h3 class="section-heading">Installation</h3>	
                    <p>The only thing we need for this project is the <a href="https://python-docx.readthedocs.io/en/latest/">python.docx</a> library to be able to manipulate word document.</p>

                    <h3 class="section-heading">How does it work?</h3>	
                    <p>This project follows a simple structure of a typical cover letter:</p>
                    <ul>
                        <li>Contact Info</li>
                        <li>Self Introduction and background</li>
                        <li>Projects I have done</li>
                        <li>Closing and Thank you</li>
                    </ul>
                    <p>Personal information is stored in a separate json file and the user just pick the right information when they make a cover letter.</p>
                    
                    <h3 class="section-heading"></h3>

                    <p>All the code is available at my <a href="https://github.com/quangineer/Fuel_Economy_Data">Github</a></p>


                </div>	
            </div>	
        </div>	
    </article>	

     <hr>	

     {% include 'footer.html' %}