{% include 'header.html' %}


<body>
    <header class="intro-header" style="background-image: '' ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Welcome to my site</h1>
                        <hr class="small">
                        <span class="subheading">This website is dedicated to those who are interested in Programming</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/post/post.html">
                        <h2 class="post-title">
                            About this website
                        </h2>
                        <h3 class="post-subtitle">
                            Problems arisen and solved.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Quangineer</a> on June 24, 2019</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Data Wrangling at its best.
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Quangineer</a> on June 20, 2019</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Python and after Python: a story of libraries.
                        </h2>
                        <h3 class="post-subtitle">
                            Numpy, Matplotlib, Pandas, Scikitlearn, Scipy and more!!!
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Quangineer</a> on June 14, 2019</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            An analysis with visualization: Findings, Analyzing, Predicting, and Recommending.
                        </h2>
                        <h3 class="post-subtitle">
                            This project focuses on making a database tell a story with graphs.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Quangineer</a> on June 8, 2019</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Other Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    {% include 'footer.html' %}