{% include 'header.html' %}


<body>
    <header class="intro-header" style="background-image: '' ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Hi! My name is Ryan</h1>
                        <hr class="small">
                        <span class="subheading">Welcome to my blog</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr>                
                <div class="post-preview">
                    <a href="/post/about_this_website.html">
                        <h2 class="post-title">
                            About this website
                        </h2>
                        <h3 class="post-subtitle">
                            How I made my website!
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Quangineer</a> on June 24, 2019</p>
                </div>
                <hr>

                <div class="post-preview">
                        <a href="/post/titanic.html">
                            <h2 class="post-title">
                                Analyzing the Titanic Dataset
                            </h2>
                            <h3 class="post-subtitle">
                                Some interesting findings about the impacts of different properties of each passenger onto their survivability of the Titanic crash!
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">Quangineer</a> on June 26, 2019</p>
                </div>
                <hr>                

                <div class="post-preview">
                    <a href="/post/fuel_economy_data.html">
                        <h2 class="post-title">
                            Fuel Economy Data
                        </h2>
                        <h3 class="post-subtitle">
                            I answered some questions regard the use of greenhouse gases, energy usage and various improvements of vehicals, using technics of Data Visualization and Data Wrangling.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Quangineer</a> on June 28, 2019</p>
                </div>
                <hr>

                <div class="post-preview">
                        <a href="/post/cover_letter_generator.html">
                            <h2 class="post-title">
                                An automatic Cover Letter Generator
                            </h2>
                            <h3 class="post-subtitle">
                                I used Python to build a tool that automates writing cover letters!
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">Quangineer</a> on June 29, 2019</p>
                </div>

                <div class="post-preview">
                        <a href="/post/business_in_the_world.html">
                            <h2 class="post-title">
                                Analyzing a dataset of setting up businesses in the World
                            </h2>
                            <h3 class="post-subtitle">
                                Looking a several datasets and combined them to show some insights into business costs around the world!
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">Quangineer</a> on June 30, 2019</p>
                </div>

                <!-- Pager -->
                <!-- <ul class="pager">
                    <li class="next">
                        <a href="#">Other Posts &rarr;</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>

    <hr>

    {% include 'footer.html' %}