{% include 'header.html' %}


<body>
    <header class="intro-header" style="background-image: '' ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Hi! My name is Ryan</h1>
                        <hr class="small">
                        <span class="subheading">Welcome to my blog</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/post/post.html">
                        <h2 class="post-title">
                            About this website
                        </h2>
                        <h3 class="post-subtitle">
                            Problems arisen and solved.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Quangineer</a> on June 24, 2019</p>
                </div>
                <hr>
                <!-- Pager -->
                <!-- <ul class="pager">
                    <li class="next">
                        <a href="#">Other Posts &rarr;</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>

    <hr>

    {% include 'footer.html' %}