{% include 'header.html' %}

 <body>	


     <!-- Page Header -->	
    <!-- Set your background image for this header on the line below. -->	
    <header class="intro-header" style="background-image: url('/img/post-bg.jpg')">	
        <div class="container">	
            <div class="row">	
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">	
                    <div class="post-heading">	
                        <h1>About this website</h1>	
                        <h2 class="subheading">Problems arisen and solved.</h2>	
                        <span class="meta">Posted by <a href="/">Quangineer</a> on June 25, 2019</span>	
                    </div>	
                </div>	
            </div>	
        </div>	
    </header>	

     <!-- Post Content -->	
    <article>	
        <div class="container">	
            <div class="row">	
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">	
                    <p>In order to make this website, I have utilized Heroku as my website host.</p>	

                     <p>Then I have chosen Flask as my framework since it was easier to work on Flask framework, comparing to other framework such as Django .</p>	

                     <p>Now I have learnt that Browser such as Google Chrome, Internet Explorer, Mozilla Firefox only recognize html language.</p>	

                     <p>I also establish for my website that I am going to use Python for back-end and JavaScript for front-end.</p>	

                     <p>A server(computer) will return accordingly that any other computer request.</p>	

                     <h2 class="section-heading">Target</h2>	

                     <p>I will try to understand the network how each template is linked to each other and how to write such commands.</p>	

                     <p>I will master of the structure of both front and back end of the website.</p>	

                     <blockquote>Try my best.</blockquote>	

                     <p>I am going to apply as many as data science projects onto this website so that people can view it.</p>	

                     <h2 class="section-heading">Expectations</h2>	

                     <p>As I go further and further away, I am trying to become a tech savvy.</p>	

                     <a href="#">	
                        <img class="img-responsive" src="/img/post-sample-image.jpg" alt="">	
                    </a>	
                    <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>	

                     <p>I believe the real world outside my site is hungry of individuals who both have knowledge in business and being able to program.</p>	

                     <p>The rapid change of technology, with the introduction of Artificial Intelligence, Machine Learning, Automation etc. also means people need to change to adapt to the cutting edge reality. Technology shows up in all facets of our lives. Understanding the core of technology will be icing on the cake for ourselves.</p>	

                     <p>Here is my professional contact by <a href="https://www.linkedin.com/in/quankeith/">Linkedin</a>. Photographs by <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>	
                </div>	
            </div>	
        </div>	
    </article>	

     <hr>	

     {% include 'footer.html' %}