{% include 'header.html' %}

 <body>	


     <!-- Page Header -->	
    <!-- Set your background image for this header on the line below. -->	
    <header class="intro-header" style="background-image: url('/img/post-bg.jpg')">	
        <div class="container">	
            <div class="row">	
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">	
                    <div class="post-heading">	
                        <h1>About this website</h1>	
                        <h2 class="subheading">How this website is created</h2>	
                        <span class="meta">Posted by <a href="/">Quangineer</a> on June 25, 2019</span>	
                    </div>	
                </div>	
            </div>	
        </div>	
    </header>	

     <!-- Post Content -->	
    <article>	
        <div class="container">	
            <div class="row">	
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">	
                    <p>Welcome to my first blog. In this blog I am going to write about how I made my personal website</p>	

                    <h2 class="section-heading">Backend</h2>	

                    <p>After doing some research about Python backend framework, I ran into the two most popular framework: Django and Flask. Where Django is a full-stack framework, Flask is a micro and lightweight web framework. After trying out both of them, I figured to go with Flask since it has a shorter learning gap for a starting project.</p>

                    <p>This server is hosted on a free service tier on Heroku</p>	

                    <h2 class="section-heading">Frontend</h2>	

                    <p>I used simple HTML, CSS, Boostrap to power the frontend of this website.</p>
                    <p>Additionally, I utilized Javascript to make this website more interesting and fun for the users.</p>
                    <ol>
                        <li>Everytime you visit my website, the background image is a random dog picture fetched from a <a href="https://dog.ceo/dog-api/">Dog Pic API</a></li>
                    </ol> 

                     <!-- <blockquote>Try my best.</blockquote>	 -->
                     <!-- <a href="#">	
                        <img class="img-responsive" src="/img/post-sample-image.jpg" alt="">	
                    </a>	 -->
                    <!-- <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>	 -->

                    <h2 class="section-heading">What's next?</h2>	

                    <p>My website is a showcase for the knowledge I learn in becoming a Data Analyst. I will share my interesting findings and knowledge I have learned as blogposts on this platform!</p>	

                     <p>Here is my professional contact by <a href="https://www.linkedin.com/in/quankeith/">Linkedin</a>.</p>	
                </div>	
            </div>	
        </div>	
    </article>	

     <hr>	

     {% include 'footer.html' %}